<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Event and Conference Html5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="generator" content="Themefisher Eventre HTML Template v1.0">
  
  <!-- PLUGINS CSS STYLE -->
  <!-- Bootstrap -->
  <link href="./resources/bootstrap/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="./resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- CUSTOM CSS -->
  <link href="./resources/css/style.css" rel="stylesheet">
  
</head>

<body class="body-wrapper">

	<section class="section schedule" id="schedule">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section-title">
						<h3>{{AGENDA_NAME}} <span class="alternate">Schedule</span></h3>
						{{#HAS_ABSTRACT}}
						<i class="far fa-newspaper" aria-hidden="true"></i>
						<p>Abstracts of talks and hands-on are available on <b><a href="{{ABSTRACT_LINK}}">the asbtracts page</a></b></p>
						{{/HAS_ABSTRACT}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="schedule-tab">
						<ul class="nav nav-pills text-center">
											
								{{{DAYS_HEADER_BLOCK_HTML}}}				
							
						</ul>
					</div>
					<div class="schedule-contents bg-schedule">
						<div class="tab-content" id="pills-tabContent">
										
								{{{DAYS_HTML}}}			
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>

	<!-- JAVASCRIPTS -->
	<!-- jQuery -->
	<script src="./resources/jquery/jquery.min.js"></script>
	<!-- Bootstrap 4 -->
	<script src="./resources/bootstrap/bootstrap.min.js"></script>

</body>

</html>