 					  <li class="nav-item">
					    <a class="nav-link {{{ACTIVE}}}" href="#{{{NUMBER}}}" data-toggle="pill">
					    	{{{DAYNUMBER}}}
					    	<span>{{{DATE}}}</span>
					    </a>
					  </li>