 					  <li class="nav-item">
					    <a class="nav-link {{{ACTIVE_CLASSES}}}" href="#{{{DAY_ID}}}" data-toggle="pill">
					    	{{{DAY_NUMBER}}}
					    	<span>{{{DATE}}}</span>
					    </a>
					  </li>