					<div class="tab-pane fade {{{ACTIVE}}} schedule-item" id="{{{DAYNUMBER}}}">
					  	<!-- Headings -->
					  	<ul class="m-0 p-0">
					  		<li class="headings">
					  			<div class="time">Time</div>
					  			<div class="speaker">Speaker</div>
					  			<div class="subject">Subject</div>
					  			<div class="venue">Venue</div>
					  		</li>
							{{{SCHEDULES}}}
					 	</ul>
					</div>