								<!-- Schedule Details -->
								<li class="schedule-details">
										<div class="block">
											<!-- time -->
											<div class="time">
												<i class="fa fa-clock-o"></i>
												<span class="time">{{TIME}}</span>
											</div>
											<!-- Speaker -->
											<div class="speaker">
												<!-- <img src="images/speakers/speaker-thumb-one.jpg" alt="speaker-thumb-one"> -->
												<span class="name">{{SPEAKER}}</span>
											</div>
											<!-- Subject -->
											<div class="subject">{{SUBJECT}}</div>
											<!-- Venue -->
											<div class="venue">{{ROOM}}</div>
										</div>
								</li>
