on: 
  workflow_call:
    inputs:
      agenda_filename:
        description: 'Filename of the agenda to be built (e.g. schedule.md)'
        required: true
        type: string
        
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Prepare Microdown
        run: |
          git clone https://github.com/pillar-markup/Microdown-Agenda.git
          ./build-md-image.sh

      - name: Build HTML
        run: |
          ./pharo Pharo.image eval "MicAgendaGenerator new build: './Microdown-Agenda/example/schedule.md' asFileReference"
          ls -R ./Microdown-Agenda/example/generated/

      # archive generated HTML so it can be used in another job (reusable workflows cannot have multiple steps)
      - uses: actions/upload-artifact@v3
        with:
          name: agenda
          path: generated
          retention-days: 5